.feedback-wrapper {
  background-image: url(../../assets/images/feedback.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
.feedback-card {
  font-family: "Poppins";
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
  .quote-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 2px;
    margin-bottom: 2rem;
    img {
      width: 25px;
      height: 25px;
    } 
  }
  p {
    margin-bottom: 2rem;
  }
  span {
    color: #d19f68;
  }
  p::after {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 100%;
    display: inline-block;
  }
  .left-section,
  .right-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .left-section {
    margin-right: 4rem;
  }
}

.swiper-pagination-bullet {
  width: 27px !important;
  border-radius: 0 !important;
  background-color: #fff !important;
  transition: all 0.5s ease-in-out

}
.swiper-pagination-bullet-active {
  width: 45px !important;
}