@mixin flex($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
}
.blog-sidebar-container {
  margin: 1rem;
  .sidebar-card {
    padding: 1.5rem;
    background-color: #fbf9ff;
    margin: 1.5rem 0;
    h4 {
      color: #2d2d2d;
      font-family: Oswald !important;
      text-transform: capitalize;
      &::after {
        content: "";
        display: block;
        padding-top: 15px;
        border-bottom: 1px solid #f0e9ff;
      }
    }
    .list {
      li {
          padding-bottom: 0.6rem;
        a {
            &:hover {
                text-decoration: none;
                color: #d19f68 !important;
            }
        }
        &::after {
          content: "";
          display: block;
          padding-top: 15px;
          border-bottom: 1px solid #f0e9ff;
        }
      }
      list-style: none;
      font-family: Poppins;
      a {
        color: #32405f !important;
      }
    }
  }
}
.blog-card {
  box-shadow: 0 0 7px 0px rgb(0 0 0 / 20%);
  margin: 1rem;
  .blog-date {
    cursor: pointer;
    background-color: #d19f68;
    height: 100px;
    width: 100px;
    padding: 1.5rem;
    @include flex(column);
    border-radius: 10px;
    color: #fff;
    position: absolute;
    bottom: -4%;
    left: 6%;
    transition: all 0.4s ease-in-out;
    &:hover {
      background-color: transparent;
      color: #d19f68;
    }
  }
  .blog-info-link {
    font-family: Poppins;
    font-size: 13px;
    list-style: none;
    li {
      float: left;
      margin: 0 0.7rem;
    }
    a {
      color: #999999 !important;
      text-decoration: none;
      &:hover {
        color: #d19f68 !important;
      }
    }
  }
  .blog-banner {
    position: relative;
    img {
      width: 99%;
    }
  }
  .blog-details {
    padding: 2rem;
    p {
      color: #10285d;
      font-family: Poppins;
    }
  }
}
.blog-form-part {
  background-color: #fbf9ff;
  padding: 1.4rem 0;
  .form-wrapper {
    width: 100%;
    form {
      @include flex(column);
    }
  }
}
.field {
  border: 1px solid #e5e6e9;
  border-radius: 0;
  font-size: 13px;
  outline: none;
  width: 90%;
  margin-bottom: 1.2rem;
  padding: 13px;
  background: transparent;
  font-family: Poppins;
}
.search-btn {
  background: #fff;
  color: #d19f68 !important;
  display: block;
  padding: 18px 44px;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #d19f68;
  letter-spacing: 3px;
  text-align: center;
  width: 90%;
  color: #d19f68;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.blog-form-part {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search-btn:hover {
  background: #d19f68;
  color: #ffff !important;
}
